.OutputContainer {
    width: 540px;
    margin: 0 auto;
}

.ItemContainer {
    width: 492px;
    margin: 0 auto;
  }
  
.TodoItem {
    display: flex;
}

.TodoItem svg {
    background: none;
    border: none;
    /* 요소 하나만 오른쪽 정렬 */
    margin-left: auto;
}