.OutputContainer {
    width: 540px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 98%);
    margin-top: 24px;
    border-radius: 5px;
    box-shadow: 10px 15px 15px rgba(175, 173, 173, 0.238);
}

.LowerContainer {
    margin: 20px;
    display: flex;
    width: 492px;
    display: flex;
    /* 요소들을 왼쪽 끝, 가운데, 오른쪽 끝에 배치 */
    justify-content: space-between;
    color: gray;
}

.LowerContainer button {
    border: none;
    background: none;
    margin: 0px 10px 0px 10px;
    color: gray;
    font-weight: 700;
}